.calcBody {
  display: flex;
  flex-direction: column;
  background-color: #feb81c;
  color: #000308;
  border-radius: 10%;
  width: 42rem;
  align-items: center;
  overflow: hidden;
}

.calcHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calculonIcon {
  width: 5rem;
  margin-left: 2rem;
}

.calcDisplay {
  background-color: #000308;
  width: 75%;
  height: 4rem;
  border-radius: 0;
  color: #aaf787;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}

.calcDisplay h1 {
  padding-right: 2.45rem;
}

.previousOperand {
  color: #73db43;
}

.calcButtonWide {
  width: 230%;
}

#buttonGrid {
  margin-top: 2rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

button {
  color: #aaf787;
  background-color: #000308;
  width: 5rem;
}

@media screen and (max-width: 800px) {
  .calcBody {
    scale: 70%;
    max-width: fit-content;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
  }
  #buttonGrid {
    margin-top: 2rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  button {
    color: #aaf787;
    background-color: #000308;
    width: 5rem;
    margin: auto;
  }
  .calcButtonWide {
    width: 220%;
  }
}

@media screen and (max-width: 550px) {
  .calcBody {
    scale: 50%;
    max-width: fit-content;
    padding: 1rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
  }
  #buttonGrid {
    margin-top: 2rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
  }
  button {
    color: #aaf787;
    background-color: #000308;
    width: 3.5rem;
    margin: auto;
  }
  .calcButtonWide {
    width: 210%;
  }

  .calcHeader {
    display: none;
  }
  .calcDisplay {
    border-radius: 0;
    height: 3rem;
    font-size: small;
  }
}
